<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autoai.wiredprojection"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_desktop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_desktop"
        android:theme="@style/Theme.DVR"
        android:persistent="true">

        <activity
            android:name="com.autoai.wiredprojection.activity.HdmiActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.DVR">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.autoai.wiredprojection.receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.autoai.wiredprojection.service.CameraService"
            android:configChanges="layoutDirection|locale"
            android:exported="true">
            <intent-filter>
                <action android:name="com.autochips.camera.BACKCAR_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>